@font-face {
  font-family: 'Bondoni-Italic';
  src: url(../assets/fonts/BodoniFLF-Italic.ttf),
       url(../assets/fonts/BodoniFLF-Italic.woff);
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: all cubic-bezier(0.455, 0.03, 0.515, 0.955) .15s;
  -moz-transition: all cubic-bezier(0.455, 0.03, 0.515, 0.955) .15s;
  -o-transition: all cubic-bezier(0.455, 0.03, 0.515, 0.955) .15s;
  transition: all cubic-bezier(0.455, 0.03, 0.515, 0.955) .15s;
  -webkit-transition-delay: 25ms;
  -moz-transition-delay: 25ms;
  -o-transition-delay: 25ms;
  transition-delay: 25ms;
}

body {
  padding: 0;
  margin: 0;
  background: url(../assets/img/kitchen_background.png) no-repeat fixed;
  background-position: top;
  background-size: cover;
}

div.background {
  background-color: #b2ebf2a0;
  min-height: 50rem;
  border: 1px solid transparent;
  border-radius: 0;
  padding-right: 1rem;
  filter: drop-shadow(0 5px 10px rgba(47, 79, 79, 0.8));
}

header.header {
  min-height: 10rem;
  border-bottom: 2px solid #1b5e20c0;
}

header.header > div.header-content {
  background-color: #00c853;
  padding: 1rem;
  border-right: 2px solid #1b5e20c0;
}

header.header > div.header-content > h2 {
  font-family: 'Bungee Shade', Arial, sans-serif;
  letter-spacing: 10px;
  font-size: 2.15rem;
}

header.header > div.header-content > h4 {
  font-family: 'Bondoni-Italic', Arial, sans-serif;
  font-size: 1.6rem;
  padding-bottom: 0;
}

header.header > div.header-content > ul.half-nav {
  display: flex;
  bottom: 0;
  margin-bottom: 0 !important;
}

header.header > img.header-img {
  background-size: cover;
  background-image: fixed;
}

aside.main-nav-container {
  background-color: #00c853;
  padding-right: .5rem;
  margin: 1rem 0;
  padding: 0;
  min-height: 50rem;
  filter: drop-shadow(-6px 6px 5px rgba(47, 79, 79, 0.4));
}

aside.main-nav-container > div.nav-search {
  display: inline-flex;
  background-color: #00e5ff;
  flex-direction: row;
  width: 100%;
  padding: .7rem 1rem 0;
}

aside.main-nav-container > div.nav-search > i {
  color: #424242;
  font-size: 24px;
  padding-top: .5rem;
  padding-right: 1rem;
}

aside.main-nav-container > div.nav-content {
  width: 100%;
  padding: 1.15rem;
  margin-top: 1rem;
}

aside.main-nav-container > div.nav-content > ul > li:not(.is-active) > a {
  color: #212121 !important;
}

aside.main-nav-container > div.nav-content > ul > li:not(.is-active) > a:hover {
  background-color: #18ffff;
}

aside.main-nav-container > div.fav-img-container > div {
  background-color: #00e676;
  border-color: #1b5e20c0;
  border-radius: 2px;
}

aside.main-nav-container > div.fav-img-container > div:hover,
aside.main-nav-container > div.history-container > div:hover {
  box-shadow: 0 3px 6px 2px rgba(47, 79, 79, 0.3);
  transform: scale(1.05, 1.05);
}

aside.main-nav-container > div.fav-img-container > div > div {
  padding: 0;
}

aside.main-nav-container > div.fav-img-container > div > div > div.fav-img {
  width: 100% !important;
  min-height: 8rem;
  margin: 0 auto !important;
}

aside.main-nav-container > div.fav-img-container > div > div > div.fav-img > a {
  position: relative;
  border-radius: 50%;
  border: 1px solid #1b5e20c0;
  float: right;
  margin-top: 100% !important;
  margin-bottom: 0;
}

aside.main-nav-container > div.history-container {
  height: 25rem;
  overflow: auto;
  padding: 0;
  margin: 0 auto;
  background-color: #00e676;
  border: 1px solid transparent;
  padding-top: 1rem;
}

aside.main-nav-container > div.history-container > div {
  margin-bottom: .25rem;
}

aside.main-nav-container > div.history-container > div > a {
  color: #212121df;
}

aside.main-nav-container > div.history-container > div > a:hover {
  color: #00e5ff;
}

main.main-content-container {
  min-height: 50rem;
  filter: drop-shadow(-6px 6px 5px rgba(47, 79, 79, 0.4));
}

main.main-content-container > div.main-content {
  background-color: #fff9c4;
  margin: 1rem 1rem 2.5rem;
  padding: 1rem;
  border-radius: 3px;
}

main.main-content-container > div.main-content > div.sub-content {
  border-top: 1px solid;
  padding: 1rem;
}

main.main-content-container > div.main-content > div.sub-content > div.share-content {
  border: 1px solid;
  padding: 1rem;
  margin: 0 auto;
}

main.main-content-container > div.main-content > div.sub-content > div.share-content > div.comment-section {
  border: 1px solid;
  padding: 1rem;
  margin: 0 auto;
}

@media (max-width: 770px) {
  .hide-for-small {
    display: none;
  }
}

@media (max-width: 1400px) {
  header.header > div.header-content > h2 {
    font-size: 2em;
  }

  header.header > div.header-content > h4 {
    font-size: 1.5em;
  }
}